body {
  background-color: #555555;
}
body::selection {
  color: grey;
}
nav {
  background-color: #443355;
  grid-area: nav;
}
main {
  background-color: black;
  grid-area: main;
}
aside {
  background-color: black;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
}
.shortcuts {
  background-color: black;
  grid-area: aside;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
}
aside img {
  filter: invert();
  height: 25px;
  width: 25px;
  padding: 10px;
}
.logo {
  display: none;
}
.settings {
  display: none;
}
header {
  background-color: green;
  grid-area: header;
}
footer {
  background-color: orange;
  grid-area: footer;
  display: none;
}
.grid-container {
  display: grid;
  gap: 0;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside";
}
.pictures {
  max-width: 100%;
  column-count: 2;
  font-family: arial;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.rapper {
  break-inside: avoid;
  margin-bottom: 16px;
}
.rapper:hover figure {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  filter: invert();
}
.rapper figure {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.rapper img {
  width: 100%;
  border-radius: 14px;
}
.rapper audio {
  border-radius: 14px;
  width: 100%;
  box-sizing: border-box;
  bottom: 3px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0 0 14px 14px;
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    gap: 0;
    grid-template-columns: auto 95%;
    grid-template-areas:
      "aside header"
      "aside nav"
      "aside main";
  }
  .pictures {
    column-count: 4;
  }
  .logo {
    display: flex;
  }
  .settings {
    display: flex;
    align-items: end;
    position: relative;
    top: 40vh;
  }
  .shortcuts {
    flex-direction: column;
    display: flex;
    top: 0;
    max-width: 5%;
    align-items: center;
    justify-content: start;
    border-right: solid 1px;
    border-color: white;
  }
  aside {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
    position: static;
    justify-content: start;
  }

  aside img {
    height: 30px;
    width: 30px;
    margin: 10px 0;
  }
}
