body {
  background-color: #555555;
}
nav {
  background-color: #443355;
  grid-area: nav;
}
main {
  background-color: #555555;
  grid-area: main;
}
aside {
  background-color: #333;
  grid-area: aside;
}
header {
  background-color: green;
  grid-area: header;
}
footer {
  background-color: orange;
  grid-area: footer;
  display: none;
}
.grid-container {
  display: grid;
  gap: 0;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside";
}
.pictures {
  max-width: 100%;

  column-count: 2;
  font-family: arial;
  margin-top: 10px;
}
.rapper {
  break-inside: avoid;
  margin-bottom: 16px;
}
.rapper:hover {
  transform: scale(1.02);
}
.rapper figure {
  margin: 0;
  position: relative;
}
.rapper img {
  width: 100%;
  border-radius: 14px;
}
@media (min-width: 768px) {
  .pictures {
    column-count: 4;
  }
}
